In [1]:
import pandas as pd
import numpy as ny

In [51]:
data=pd.read_csv("Disease_symptom_and_patient_profile_dataset.csv")

In [52]:
data.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive

In [53]:
a=len(data["Disease"].unique())
a

116

In [54]:
t=data.drop(["Age","Gender"],axis=1)
t

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,High,High,Positive
345,Stroke,Yes,No,Yes,No,High,High,Positive
346,Stroke,Yes,No,Yes,No,High,High,Positive
347,Stroke,Yes,No,Yes,No,High,High,Positive
348,Stroke,Yes,No,Yes,No,High,High,Positive

In [55]:
t.dropna()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,High,High,Positive
345,Stroke,Yes,No,Yes,No,High,High,Positive
346,Stroke,Yes,No,Yes,No,High,High,Positive
347,Stroke,Yes,No,Yes,No,High,High,Positive
348,Stroke,Yes,No,Yes,No,High,High,Positive

In [56]:
b=pd.get_dummies(t['Cough'])
b.rename(columns = {'Yes':'Cough'}, inplace = True)
b=b.drop(['No'],axis=1)

c=pd.get_dummies(t['Fatigue'])
c.rename(columns = {'Yes':'Fatigue'}, inplace = True)
c=c.drop(['No'],axis=1)

d=pd.get_dummies(t['Difficulty Breathing'])
d.rename(columns = {'Yes':'Difficulty Breathing'}, inplace = True)
d=d.drop(['No'],axis=1)

e=pd.get_dummies(t['Outcome Variable'])
e.rename(columns = {'Positive':'Outcome Variable'}, inplace = True)
e=e.drop(['Negative'],axis=1)

a=pd.get_dummies(t['Fever'])
a.rename(columns = {'Yes':'Fever'}, inplace = True)
a=a.drop(['No'],axis=1)

In [57]:
t

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,High,High,Positive
345,Stroke,Yes,No,Yes,No,High,High,Positive
346,Stroke,Yes,No,Yes,No,High,High,Positive
347,Stroke,Yes,No,Yes,No,High,High,Positive
348,Stroke,Yes,No,Yes,No,High,High,Positive

In [48]:
t=pd.concat([a,b,c,d,e],axis=1)

In [49]:
t

     Fever  Cough  Fatigue  Difficulty Breathing  Outcome Variable
0        1      0        1                     1                 1
1        0      1        1                     0                 0
2        0      1        1                     0                 0
3        1      1        0                     1                 1
4        1      1        0                     1                 1
..     ...    ...      ...                   ...               ...
344      1      0        1                     0                 1
345      1      0        1                     0                 1
346      1      0        1                     0                 1
347      1      0        1                     0                 1
348      1      0        1                     0                 1

[349 rows x 5 columns]